body{
 background: black;
    color: white;
    /* display: flex; */
    display: center;
    text-align: center;
    margin: 10%;
 }
 .main-container{
    /* background-color: aquamarine;
    border: 2px solid brown; */
    margin: 0%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px 10px;
    padding-left: 30px;
    display: contents;
}

.row{
   margin: auto;
   padding: 7px 4px 5px 5px;
}
.row input{
    padding: 10px 20px ;
    border-radius:2px;
}
.button{
    cursor: pointer;
    height: 40px;
    width: 50px;
    border-radius: 20rem;
};
